.New {
    border-radius: 20px;
    margin: 20px 0;
    background-color: #0a0a0a;
}

.Sidebar ul {
    list-style-type: none;
}

.Sidebar-img {
    height: 80px;
    width: 100%;
    margin: 20px 0;
    border-radius: 15px;
}

.Best-Movies {
    border-radius: 20px;
    margin: 20px 0;
    background-color: #0a0a0a;
}

.Best-Movies-img {
    width: 70px;
    height: 80px;
}

.Best-Series {
    border-radius: 20px;
    margin: 20px 0;
    background-color: #0a0a0a;
}

.Best-Series-img {
    width: 70px;
    height: 80px;
}

.Movies-pics {
    border-radius: 20px;
    margin: 20px 0;
    background-color: #0a0a0a;
}

.Random-img {
    height: 100px;
    width: 100%;
    margin: 20px 0;
    border-radius: 15px;
}