.Footer {
    background-color: #3c3c3c;
    border-radius: 20px;
    color: #ffff
}

.Quick-Access {
    list-style-type: none;
}

.Quick-Access a{
    color: #ffff;
    text-decoration: none;
    display: block;
    padding-top: 10px;
}

.Footer-desc {
    line-height: 40px;
}

.Socials {
    list-style: none;
}

.Socials li {
    display: inline-block;
    padding: 10px;
}

.Copyright {
    background-color: #232121;
}

.Copyright h5 {
    padding: 20px;
}